main {
  background: #ffffff;
  margin-top: 0.5em;
}

p {
  line-height: 1.5em;
}

h1 {
  font-size: 2em;
}

after {
  clear: both;
}

.login {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 320px;
}

.login form {
  margin: auto;
  padding: 22px 22px 22px 22px;
  width: 100%;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #313030;
}

.login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}

.login form input[type="email"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 100%;
  height: 50px;
}

.login form input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 100%;
  height: 50px;
}

.login form input[type="submit"] {
  background: #313030;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
#login form input[type="submit"]:hover {
  background: #16aa56;
}

ul.helper-text {
  font-size: smaller;
  list-style: none;
  text-align: center;
  padding: 0;
}
